version: "3.8"
services:
  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    networks:
      - live_shared_net

  backend:
    build:
      context: ..
      dockerfile: backend/Dockerfile
    env_file:
      - ./.env
    ports:
      - "8000:8000"
    depends_on:
      - redis
    volumes:
      - ../backend/app:/app/app:rw
      - ./certs/root.crt:/certs/root.crt:ro
    networks:
      - live_shared_net

  worker:
    build:
      context: ..
      dockerfile: backend/Dockerfile
    command: ["bash","-c","rq worker default --url ${REDIS_URL:-redis://redis:6379/0}"]
    env_file:
      - ./.env
    depends_on:
      - backend
      - redis
    volumes:
      - ../backend/app:/app/app:rw
      - ./certs/root.crt:/certs/root.crt:ro
    networks:
      - live_shared_net

  # frontend:
  #   build:
  #     context: ..
  #     dockerfile: frontend/Dockerfile
  #   env_file:
  #     - ../frontend/.env.local
  #   ports:
  #     - "3000:3000"
  #   depends_on:
  #     - backend

volumes:
  pgdata:


networks:
  live_shared_net:
    name: live_shared_net

